{% extends 'base.html' %}

{% block content %}
<style>
    /* Additional CSS for hover effect and animation */
    .table tbody tr:hover {
        background: linear-gradient(135deg, #1481af 0%, #fbfbfb 100%);
        transform: scale(1.02); /* Slight scale on hover */
        transition: transform 0.3s ease, background-color 0.3s ease;
    }
    
    .table {
        border: 2px solid #061a30;
        border-radius: 10px;
        overflow: hidden;
    }

    /* Animation for cards */
    .card {
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .card:hover {
        transform: translateY(-10px); /* Elevate the card slightly on hover */
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
    }

    /* Background color transitions for cards */
    .card {
        background: linear-gradient(135deg, #08056f 0%, #2c0355 100%);
        color: #011853;
    }

    .card-body h3 {
        font-size: 1.4rem; /* Adjust heading size */
        transition: color 0.3s ease;
    }

    .card-body p.display-4 {
        font-size: 2.5rem;
        font-weight: bold;
    }

    /* Subtle text color change on hover */
    .card:hover h3 {
        color: #d9450f; /* Gold color on hover */
    }

    /* Animation for graphs */
    canvas {
        transition: transform 0.3s ease;
        background: linear-gradient(135deg, #ffffff 0%, #ffffff 100%);
    }

    canvas:hover {
        transform: scale(1.05); /* Slight scale on hover */
    }

    /* Styling for the summary section cards */
    .card.text-center.text-white {
        background-color: #1B4242;
        color: #feffff;
    }

    /* Animation for salary distribution chart */
    #salaryDistributionChart {
        animation: fadeIn 2s ease;
    }

    /* Keyframes for fade-in animation */
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    /* Media Queries for responsive design */
    @media (max-width: 768px) {
        .lead-section h1 {
            font-size: 2rem; /* Adjust heading size for small screens */
        }
        
        .card-body h3 {
            font-size: 1.2rem; /* Adjust card heading size */
        }

        .display-4 {
            font-size: 2rem; /* Adjust display size */
        }

        .table {
            font-size: 0.9rem; /* Adjust table font size */
        }

        .col-md-4,
        .col-md-6,
        .col-md-5,
        .col-md-7 {
            flex: 0 0 100%; /* Stack columns vertically on small screens */
            max-width: 100%;
        }

        .row {
            margin: 0; /* Remove margin for rows on small screens */
        }
    }

    @media (max-width: 576px) {
        .lead-section h1 {
            font-size: 1.5rem; /* Further adjust heading size for extra small screens */
        }

        .card-body h3 {
            font-size: 1rem; /* Further adjust card heading size */
        }

        .display-4 {
            font-size: 1.5rem; /* Further adjust display size */
        }
    }
</style>

<div class=" lead-section container mt-8">
    <h1 style="font-family: 'Poppins', sans-serif; font-size: xx-large; margin-bottom: 10px; font-weight: bold;" class="text-center">
        Analysis
    </h1>
    

    <div class="row">
        <!-- Total Leads -->
        <div class="col-md-4">
            <div class="card text-center text-white">
                <div class="card-body">
                    <h3>Total Leads</h3>
                    <a href="{% url 'leads:lead-list' %}"><p class="display-4">{{ total_lead_count }}</p></a>
                </div>
            </div>
        </div>

        <!-- Leads in the Past 30 Days -->
        <div class="col-md-4">
            <div class="card text-center text-white">
                <div class="card-body">
                    <h3>Leads in the Past 30 Days</h3>
                    <p class="display-4">{{ total_in_past30 }}</p>
                </div>
            </div>
        </div>

        <!-- Converted Leads in the Past 30 Days -->
        <div class="col-md-4">
            <div class="card text-center text-white">
                <div class="card-body">
                    <h3>Converted Leads in the Past 30 Days</h3>
                    <p class="display-4">{{ converted_in_past30 }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Sales and Profit Section -->
    <div class="row mt-4">
        <!-- Sales Data -->
        <div class="bg-white col-md-6">
            <h3 style="font-size:x-large;  margin-left: 25%; font-weight: bold;">Properties Sold Over Time</h3>
            <canvas id="salesChart"></canvas>
        </div>
       
        <!-- Profit Data -->
        <div class="bg-white col-md-6">
            <h3 style="font-size:x-large;  margin-left: 40%; font-weight: bold;">Profit Over Time</h3>
            <canvas id="profitChart"></canvas>
        </div>
    </div>

    <!-- Summary Section -->
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card text-center text-white">
                <div class="card-body">
                    <h3>Total Sales</h3>
                    <p class="display-4">{{ total_sales }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center text-white">
                <div class="card-body">
                    <h3>Total Cost of registered Buyer</h3>
                    <p class="display-4">₹{{ total_cost|floatformat:2  }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center text-white">
                <div class="card-body">
                    <h3>Total Profit From Buyers</h3>
                    <p class="display-4">₹{{ total_profit|floatformat:2  }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Calendar Section -->
    <div class="row mt-9">
        <div style="height: 350px; width: 450px; background-color: #fefefe;border-radius: 10px;" class="col-md-5">
            <h3 style="font-size:x-large;  margin-left: 25%; font-weight: bold;">Salary Distribution from Profit</h3>
            <canvas id="salaryDistributionChart"></canvas>
        </div>

        <div class="col-md-7">
            <h3 style="font-size: x-large; font-weight: bold; text-align: center;">Top 5 Recent Buyers</h3>
            <table class="table table-striped table-bordered "
                style="width: 100%; height: 100%; border-radius: 10px; overflow: hidden;">
                <thead style="background-color: #050f4c; color:#fdfdfd">
                    <tr>
                        <th style="width: 10%; text-align: center;">S.No</th>
                        <th style="width: 30%; text-align: center;">Buyer Name</th>
                        <th style="width: 20%; text-align: center;">Mobile No</th>
                        <th style="width: 15%; text-align: center;">Project</th>
                        <th style="width: 40%; text-align: center;">Booking Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for buyer in recent_buyers %}
                    <tr style="background-color: #f5f5f5; transition: background-color 0.3s ease;">
                        <td style="text-align: center;">{{ forloop.counter }}.</td>
                        <td style="text-align: center; font-weight: bold;"><a
                                href="{% url 'leads:update_delete_buyer' buyer.id %}"
                                class="text-black-900 hover:underline">{{ buyer.name }}</a></td>
                        <td style="text-align: center;">{{ buyer.mobile_no }}</td>
                        <td style="text-align: center;">{{ buyer.project.title }}</td>
                        <td style="text-align: center;">{{ buyer.booking_date }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" style="text-align: center; color: #777;">No buyers available.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Chart.js Library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<!-- FullCalendar CSS & JS -->
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/main.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/main.min.js"></script>

<!-- Sales Chart -->
<script>
    const salesLabels = {{ labels| safe }};
    const salesData = {{ data| safe }};
    const salesCtx = document.getElementById('salesChart').getContext('2d');

    new Chart(salesCtx, {
        type: 'bar',
        data: {
            labels: salesLabels,
            datasets: [{
                label: 'Properties Sold',
                data: salesData,
                backgroundColor: '#024CAA',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 2,
                pointBackgroundColor: 'rgba(30, 62, 98, 0.3)',
                pointBorderColor: '#fff',
                fill: true
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: { display: true, labels: { color: 'dark black' } },
                tooltip: { backgroundColor: 'rgba(0, 0, 0, 0.7)', titleColor: 'white', bodyColor: 'white' }
            },
            scales: { y: { beginAtZero: true } }
        }
    });
</script>

<!-- Profit Chart -->
<script>
    const profitLabels = {{ profit_labels| safe }};
    const profitData = {{ profit_data| safe }};
    const profitCtx = document.getElementById('profitChart').getContext('2d');

    new Chart(profitCtx, {
        type: 'line',
        data: {
            labels: profitLabels,
            datasets: [{
                label: 'Profit',
                data: profitData,
                backgroundColor: '161D6F',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 2,
                fill: false
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: { display: true, labels: { color: 'white' } },
                tooltip: { backgroundColor: 'white', titleColor: 'black', bodyColor: 'white' }
            },
            scales: { y: { beginAtZero: true } }
        }
    });
</script>
<!-- Salary -->
<script>
    const salaryDistributionLabels = {{ salaryDistribution_labels|safe }};
    const salaryDistributionData = {{ salary_distribution|safe }}; 
    const salaryDistributionCtx = document.getElementById('salaryDistributionChart').getContext('2d');

    new Chart(salaryDistributionCtx, {
        type: 'bar',
        data: {
            labels: salaryDistributionLabels,
            datasets: [{
                label:salaryDistributionLabels,
                data: salaryDistributionData,
                backgroundColor: ['#0D92F4', '#024CAA'],
                borderColor: '#35374B',
                borderWidth: 1,
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: true,
                    // position: 'top',
                },
                title: {
                    display: true,
                    text: 'Salary Distribution from Profit',
                },
                datalabels: {
                    
                    
                    color: '#fffff',  // Label color
                    formatter: function(value, context) {
                        return value.toLocaleString();  // Format numbers with commas
                    }
                }
            },
            scales: {
                y: {
                    beginAtZero: true,  // Start y-axis from 0
                    title: {
                        display: true,
                        text: 'Amount in Currency'
                    }
                }
            }
        },
        plugins: [ChartDataLabels]  // Activate the datalabels plugin
    });
</script>



{% endblock content %}